@model IEnumerable<web.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Seznam prijateljev</h1>
<div class="card-columns">
    @foreach (var user in Model)
    {

        @if(true){
        
            <div class="card">
            <img class="card-img" style="background-image: url(@user.PictureUrl);">
            <div class="card-body">
                <h5 class="card-title">@user.firstName @user.lastName</h5>
                <h6 class="card-subtitle mb-2 text-muted"> @user.Location</h6>
               
                <p class = "card-text">@user.lunchTime.ToString(@"hh\:mm")</p>
            </div>
            </div>
            
        }
        
    }
</div>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lunchTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lunchTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <img src = item.PictureUrl)>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.userId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.userId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.userId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->