@model IEnumerable<web.Models.Friends>

@{
    ViewData["Title"] = "Friends";
}

@{DateTime temp = new DateTime(2012, 12, 25, 19, 00, 00);}



<h1>Friends</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendName)
            </th>
            <!-- <th>    TUKEJ JE ID USERJA K GA NI TREBA PISAT
                @Html.DisplayNameFor(model => model.UserID)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.LunchTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var friend in Model) {
    <!-- ZGOLJ ZAČASNO!!!!!! id more bit enak prjavljenemu uporabniku-->
    @if (friend.UserID == 1)
    {
        <!-- ZGOLJ ZAČASNO!!!!!! čas bo primerjan prijavljenemu uporabniku.Za zdej bo to 19:00:00-->     
        <!-- ZGOLJ ZAČASNO!!!!!! čas bo primerjan z uporabnikovimi nastavitvami. Za zdej je to 60min-->
        
        @if (Math.Abs((friend.LunchTime.TimeOfDay - temp.TimeOfDay).TotalMinutes) <= 60)
        {
            <tr style="background-color: green;">
                <td>
                    @Html.DisplayFor(modelItem => friend.FriendName)
                </td>
                <!-- <td>
                    @Html.DisplayFor(modelItem => friend.UserID) -->
                <!--</td>
                -->
                <td>
                    @Html.DisplayFor(modelItem => friend.LunchTime)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@friend.FriendsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@friend.FriendsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@friend.FriendsID">Delete</a>
                </td>
            </tr>
        } else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => friend.FriendName)
                </td>
                <!-- <td>
                    @Html.DisplayFor(modelItem => friend.UserID) -->
                <!--</td>
                -->
                <td>
                    @Html.DisplayFor(modelItem => friend.LunchTime)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@friend.FriendsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@friend.FriendsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@friend.FriendsID">Delete</a>
                </td>
            </tr> 
        }
        
  
    }
        
}
    </tbody>
</table>
